@font-face {
    font-family: 'RedditSans';
    src: url('fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
  }

  @font-face {
    font-family: 'Schoolbell';
    src: url('fonts/Schoolbell/Schoolbell-Regular.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

:root {
    --pearl-white: #FFFBFA;
    --beige: #EEECE1;
    --dark-beige: #BAAF8E;
    --brown: #AD9182;
    --chestnut: #583F2B;
    --light-pink: #DAB3B3;
    --old-pink: #D7B1AB;
    --red: #B91E20;
    --sage-green: #83955B;
    --green: #566A38;
    --dark-green: #2A3712;
    --dark-grey: #1E1E1E;
}

body {
    display: flex;
    height: 100%;
    font-family: 'RedditSans', 'Roboto', sans-serif;
    background-color: var(--pearl-white);
}

/* Partie gauche de l'écran */

/* Commun */
.image-container {
    width: 50%;
    height: 100vh;
    display: flex;
}

/* Index et boutique*/
.image {
    max-height: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Jeu boutique */
.object-image {
    max-height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Partie droite de l'écran */

/* Index et boutique*/
.story-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 8%;
    padding-left: 8%;
    justify-content: center;
}

h1 {
    font-family: 'Schoolbell', sans-serif;
    font-size: 5rem;
    margin: 1.8rem 0;
    text-align: left;
}

.paragraph-story {
    line-height: 2rem;
    margin: 1.2rem 0;
}

.paragraph-story-dialog {
    line-height: 2rem;
    margin: 1.2rem 0;
    font-style: italic;
}

.start-button {
    border: none;
    color: var(--dark-grey);
    background-color: var(--dark-beige);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-weight: 600;
    margin-top: 1.8rem;
}

.start-button:hover {
    background-color: var(--beige);
    color: var(--chestnut);
    cursor: pointer;
}

/* Jeu boutique */
.game-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

#hints-title {
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.15rem;
}

.question {
    display: block;
    width: 100%;
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;

}

.answer {
    display: flex;
    align-items: center;
}

#price-input {
    margin: 1.5rem 0;
    padding: 0.8rem;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color:  var(--beige);
}

#submit-button {
    margin: 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--dark-beige);
    color: var(--dark-grey);
    font-weight: 600;
}

#submit-button:hover {
    background-color: var(--beige);
    color: var(--chestnut);
    cursor: pointer;
}

li {
    line-height: 3rem;
}

/* responsive */

@media (max-width:1410px) {
    h1 {
        font-size: 4.5rem;
        margin: 1.5rem 0;
    }

    .paragraph-story {
        line-height: 1.5rem;
        margin: 1.1rem 0;
    }
    
    .paragraph-story-dialog {
        line-height: 1.5rem;
        margin: 1.1rem 0;
    }

    .start-button {
        margin-top: 1.5rem;
    }
}

@media (max-width:1160px) {
    .story-container {
        padding-left: 5%;
    }

    h1 {
        font-size: 3.5rem;
        margin: 1.2rem 0;
    }

    .paragraph-story {
        line-height: 1.5rem;
        margin: 1rem 0;
    }
    
    .paragraph-story-dialog {
        line-height: 1.5rem;
        margin: 1rem 0;
    }

    .start-button {
        margin-top: 1.2rem;
    }
}

@media (max-width:970px) {
    .image-container {
        width: 40%;
        height: 100vh;
    }

    .image {
        width: 100%;
    }

    .story-container {
        width: 60%;
        height: 100vh;
    }

    @media (max-width:770px) {
        body {
            flex-direction: column;
        }

        .image-container {
            width: 100%;
            height: 100%;
        }
    
        .image {
            width: 70%;
        }
    
        .story-container {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-size: 2rem;
        }
    }

}