@font-face {
    font-family: 'RedditSans';
    src: url('fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

:root {
    --pearl-white: #FFFBFA;
    --beige: #EEECE1;
    --dark-beige: #BAAF8E;
    --brown: #AD9182;
    --chestnut: #583F2B;
    --light-pink: #DAB3B3;
    --old-pink: #D7B1AB;
    --red: #B91E20;
    --sage-green: #83955B;
    --green: #566A38;
    --dark-green: #2A3712;
    --dark-grey: #1E1E1E;
}

body {
    display: flex;
    height: 100%;
    font-family: 'RedditSans', 'Roboto', sans-serif;
    background-color: var(--pearl-white);
}

/* Partie gauche de l'écran */
.image-container {
    width: 50%;
    height: 100vh;
    display: flex;
}

.object-image {
    max-height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Partie droite de l'écran */
.game-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

#hints-title {
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.15rem;
}

.question {
    display: block;
    width: 100%;
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;

}

.answer {
    display: flex;
    align-items: center;
}

#price-input {
    margin: 1.5rem 0;
    padding: 0.8rem;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color:  var(--beige);
}

#submit-button {
    margin: 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--dark-beige);
    color: var(--dark-grey);
    font-weight: 600;
}

#submit-button:hover {
    background-color: var(--beige);
    color: var(--chestnut);
}

li {
    line-height: 3rem;
}